#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

img[alt="logo"]{
    width: 180px;
    margin-top: 5px;
}

@media(max-width: 768px) {
    img[alt="logo"]{
        width: 150px;
        margin-top: 7px;
    }

    h4{
        font-size: 150%;
    }
}

@media(max-width: 420px) {
    img[alt="logo"]{
        width: 100px;
        margin-top: 14px;
    }
}

.flightItem, .flightList {
    border: solid lightgray 1px;
    margin: 0;
    padding: 3px;
    text-align: center;
}

.flightItem p{
    margin: 10px;
    font-size: 20px;
    text-align: right;
}

p.flightNumber {
    margin: 5px;
    font-size: 30px;
    text-align: center;
    color: #DE0379;
}

.flightItem img {
    display: block;
    height: 50px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.logoLabel, .numberLabel, .altLabel{
    margin: 2px;
    font-weight: bold;
}

.logoLabel {
    text-align: left;
}

.numberLabel {
    text-align: center;
}

.altLabel {
    text-align: right;
}